#coinScore,
#lifeScore {
  position: absolute;
  top: 10px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1; /* Ensure the score is above the canvas */
}
#coinScore {
  left: 10px;
}
#lifeScore {
  right: 10px;
}
body {
  margin: 0;
  overflow: hidden;
}
